@import "../../sass/variables";
.button {
    width: 100%;
    height: 100%;
    border-radius: $br-radius;
    border: 0;
    outline: 0;
    cursor: pointer;

    background-color: $clr-primary;
    padding: 1rem;
    //background: radial-gradient(circle at 100%, $clr-primary 0%, rgba($clr-primary, 0.8) 100%);
    text-transform: uppercase;
    color: $clr-white;
    transition: $transition-duration;
    font-weight: bold;
    &:active {
        scale: 0.95;
    }
    &:hover {
        background-color: rgba($clr-primary, 0.8);
    }
}
