@import "../../sass/variables";
//@import "../../sass/form-controls";
.filter {
    margin-bottom: $spacing;
    background-color: rgba($clr-black, 0.2);
    box-shadow: $box-shadow;
    padding: $spacing;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $spacing;
    > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    > div:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    > div:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    > div:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}
