@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* szín változók */
/* háttérképhez*/
/* árnyék */
.form-control {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form-control label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  font-weight: 100;
  transition: 0.3s;
  color: rgba(15, 16, 32, 0.7);
}
.form-control label:has(+ input:not(:-moz-placeholder-shown)) {
  scale: 0.7;
  top: 5px;
  left: 0.25rem;
}
.form-control label:has(+ input:focus), .form-control label:has(+ input:not(:placeholder-shown)) {
  scale: 0.7;
  top: 5px;
  left: 0.25rem;
}

input {
  padding: 0.5rem;
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
}
input::-moz-placeholder {
  opacity: 0;
}
input::placeholder {
  opacity: 0;
}

button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #4ba3c3;
  padding: 1rem;
  text-transform: uppercase;
  color: #f4f4f8;
  transition: 0.3s;
  font-weight: bold;
}
button:active {
  scale: 0.95;
}
button:hover {
  background-color: rgba(75, 163, 195, 0.8);
}

/* dropdown, alapértelmezett select elrejtése css */
.form-control select {
  display: none;
}

.dropdown {
  position: relative;
}
.dropdown-label {
  cursor: pointer;
  margin-left: -5px;
}
.dropdown-input {
  width: 100%;
  cursor: pointer;
  /* lista megjelenitése */
}
.dropdown-input:not(:-moz-placeholder-shown) + .dropdown-list {
  position: absolute;
  animation: fadeIn 0.3s ease-in forwards;
}
.dropdown-input:not(:placeholder-shown) + .dropdown-list, .dropdown-input:active + .dropdown-list, .dropdown-input:focus + .dropdown-list {
  position: absolute;
  animation: fadeIn 0.3s ease-in forwards;
}
.dropdown::after {
  content: "\f107";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.dropdown:has(.dropdown-input:active)::after, .dropdown:has(.dropdown-input:focus)::after {
  animation: caretRotation 0.3s ease forwards;
}
.dropdown-list {
  display: none;
  position: absolute;
  z-index: 100;
  top: calc(0.5rem + 50px);
  background-color: #f4f4f8;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.298);
}
.dropdown-list ~ input:not(::-moz-placeholder-shown) {
  display: block;
}
.dropdown-list ~ input:not(::placeholder-shown) {
  display: block;
}
.dropdown-option {
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}
.dropdown-option:hover {
  background-color: rgba(204, 204, 204, 0.2);
}
.dropdown-option:nth-child(odd) {
  background-color: rgba(204, 204, 204, 0.4);
}

/*
        ANIMATIONS
*/
/* dropdown animation */
@keyframes fadeIn {
  from {
    display: block;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* filter,table animation */
.filter,
table {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    scale: 1.1;
  }
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
    scale: 1;
  }
}
@keyframes caretRotation {
  to {
    transform: rotateZ(180deg) translateY(50%);
  }
}
@keyframes tableLoadingAnimation {
  from {
    opacity: 0;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}
body {
  background: linear-gradient(rgba(120, 212, 23, 0.5), rgba(15, 173, 235, 0.5)), url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Monserrat", sans-serif;
  color: #0f1020;
  display: grid;
  place-content: center;
  gap: 1rem;
  padding: 2rem;
}

.container {
  max-width: 800px;
  width: 500px;
  margin-inline: auto;
  padding: 0.5rem;
  background-color: rgba(204, 204, 204, 0.499);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.298);
}

table,
.panel {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.298);
  border-radius: 10px;
  padding: 10px;
  background-color: #f4f4f8;
}

table {
  border-collapse: collapse;
  border-spacing: 30px;
  width: 100%;
  overflow: hidden;
}
table tr {
  transition: 0.3s;
}
table tr:hover,
table tr:nth-child(even):hover {
  background-color: rgba(204, 204, 204, 0.2);
  cursor: pointer;
}
table tr:nth-child(even) {
  background-color: rgba(204, 204, 204, 0.3);
}
table td {
  padding: 0.25rem;
  text-align: center;
}
table tr:has(th) {
  border-radius: 10px;
  padding: 1rem;
}
table th {
  padding: 0.25rem;
  text-align: center;
}
table tfoot {
  background-color: rgba(75, 163, 195, 0.3);
}
table tfoot button {
  background-color: #4ba3c3;
  border-radius: 50%;
  width: 32px;
  aspect-ratio: 1;
  padding: 0;
}
table tbody {
  position: relative;
  height: 100px;
}
table tbody.rotate::after {
  content: "\f110";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 2rem;
  width: 700%;
  height: 700%;
  background-color: rgba(15, 16, 32, 0.5);
  position: absolute;
  top: -300%;
  left: -300%;
  color: #f4f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: tableLoadingAnimation 2s infinite;
}

.filter {
  margin-bottom: 0.5rem;
  background-color: rgba(15, 16, 32, 0.2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.298);
  padding: 0.5rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}
.filter > div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.filter > div:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.filter > div:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.filter > div:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* text */
h1 {
  margin-bottom: 1rem;
  padding-left: 1rem;
  position: relative;
  font-family: "Bebas Neue";
  letter-spacing: 1.5px;
}
h1::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #4ba3c3;
  left: 0;
  border-radius: 10px;
  opacity: 0.5;
}

@media screen and (max-width: 520px) {
  body {
    padding: 0.5rem;
  }
  .container {
    width: 100%;
  }
  .filter {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .filter > div:nth-child(1) {
    grid-column: auto;
    grid-row: auto;
  }
  .filter > div:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
  }
  .filter > div:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }
  .filter > div:nth-child(4) {
    grid-column: auto;
    grid-row: auto;
  }
  /* scrollozható legyen kisebb képernyőn vagy mobilon a tábla */
  div:has(.table) {
    overflow-x: auto;
  }
}
/* 

    egyedi scroll bar 
    https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp

*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(15, 16, 32, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(15, 16, 32, 0.4);
}/*# sourceMappingURL=style.css.map */